@use '../../variables' as vars;
@use '../../mixins.scss' as m;

.logoMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: black;
    z-index: 1000;

    &.home {
        width: calc(100% - vars.$scrollbar-width);
    }

    @include m.respond-to(lg) {
        display: flex;
    }
}

.mobileButton {
    display: none;

    @include m.respond-to(lg) {
        display: flex;
        position: fixed;
        width: 2.5rem;
        height: 2.5rem;
        top: .8rem;
        right: 2rem;
        z-index: 1001;
        cursor: pointer;

        &::before {
            content: '';
            width: 100%;
            height: .5rem;
            background-color: white;
            border-radius: 1rem;
            position: absolute;
            top: 30%;
            right: 50%;
            transform: translate(50%, -50%) rotate(0deg);
            transition: .3s;
        }

        &.openBtn::before {
            top: 50%;
            transform: translate(50%, -50%) rotate(135deg);
        }

        &::after {
            content: '';
            width: 80%;
            height: .5rem;
            background-color: white;
            border-radius: 1rem;
            position: absolute;
            top: 70%;
            right: 0;
            transform: translate(0, -50%);
            transition: .3s;
        }

        &.openBtn::after {
            top: 50%;
            transform: translate(0, -50%) rotate(-135deg);
            width: 100%;
        }
    }
}

.header {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: .5s ease;


    &.scrolled {
        background-color: black;
    }

    & .logo {
        font-size: 2.3rem;
    }

    & nav {
        display: flex;
        gap: 1.5rem;

        & a {
            border-bottom: .2rem transparent solid;
            transition: .2s ease;

            &:hover,
            &.activeLink {
                color: vars.$primary-color;
                border-bottom: .2rem vars.$primary-color solid;
            }
        }
    }

    & .ctaBtn {
        background: linear-gradient(45deg, vars.$primary-color, rgb(from vars.$primary-color calc(r + 20) calc(g + 10) calc(b + 15)));
        padding: 0.85rem 1.2rem;
        border-radius: 1rem;
        transition: all .1s;

        &.none {
            opacity: 0;
            pointer-events: none;
        }

        &:hover {
            background-color: vars.$primary-color-hover;
            transform: scale(1.03);
        }
    }

    @include m.respond-to(lg) {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: black;
        padding: 5rem 0;
        transition: .3s;
        transform: translate(100%, 0);

        &.open {
            transform: translate(0, 0);
        }

        & .logo {
            font-size: 2.6rem;
        }

        & nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            & a {
                font-size: 1.2rem;
            }
        }

        & .ctaBtn {
            background-color: vars.$primary-color;
            padding: 1.5rem 2rem;
        }
    }
}