@use "../../variables" as vars;
@use "../../mixins" as m;

.footer {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    display: flex;
    background-color: black;

    @include m.respond-to(xl) {
        flex-direction: column;
    }

    &>div {
        width: 33.33333%;
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;

        @include m.respond-to(xl) {
            width: 100%;
        }

        &.logoContainer {
            
            flex-direction: column;
            gap: 1.5rem;
            font-size: 1.1rem;

            .socialMediaContainer {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                .socialMediaButton {
                    padding: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: vars.$primary-color;
                    border-radius: .4rem;
                    font-size: 1.3rem;
                    transition: .3s;

                    &:hover {
                        background-color: vars.$primary-color-hover;
                    }
                }
            }

            @include m.respond-to(xl) {
                display: none;
            }
        }

        &.infos {
            flex-direction: column;
            gap: .5rem;
            align-items: flex-start;

            &>div {
                margin-top: .8rem;
                display: flex;
                flex-direction: column;
                gap: .6rem;
            }

            & .subtitle {
                font-weight: bold;
                font-size: 1rem;
                margin-bottom: .5rem;
            }

            & .content {
                font-size: .9rem;
                display: flex;
                align-items: center;

                svg {
                    margin-right: .5rem;
                }
            }

            @include m.respond-to(xl) {
                padding: 2rem;
            }
        }

        &.map {

            display: flex;
            align-items: center;
            justify-content: center;

            iframe {
                width: 90%;
                height: 45vh;
                border-radius: 1rem;
            }
        }
    }

}