
$background-page-dark: rgb(28, 28, 28);
$primary-color: rgb(229, 59, 39);
$primary-color-hover: rgb(190, 42, 25);
$secondary-color: rgb(255, 255, 255);
$secondary-color-hover: rgb(226, 226, 226);

$scrollbar-width: .8rem;

$logo-font: 'Host Grotesk', sans-serif;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);