
$background-page-dark: rgb(28, 28, 28);
$background-page-light: rgb(238, 238, 238);
$primary-color: rgb(229, 59, 39);
$primary-color-hover: rgb(190, 42, 25);
$secondary-color: rgb(255, 255, 255);
$secondary-color-hover: rgb(226, 226, 226);

$scrollbar-width: .8rem;

$logo-font: 'Host Grotesk', sans-serif;

$breakpoints: (
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
  xxl: 1399px
);