@use './_variables.scss' as vars;
@use './mixins.scss' as m;

html {
    font-size: clamp(0.875rem, 0.5vw + 1rem, 1.125rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: currentColor;
    text-decoration: none;
}

body {
    background-color: vars.$background-page-dark;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: normal;
    scroll-behavior: smooth;

    @include m.scrollbar;
}

.logo {
    font-family: vars.$logo-font;
    color: vars.$primary-color;
    pointer-events: none;
    font-weight: 400;

    &>span {
        color: vars.$secondary-color;
    }
}