@use "./variables.scss" as vars;
@use "sass:map";

@mixin respond-to($size) {
    $bp: map.get(vars.$breakpoints, $size);

    @if $bp {
        @media (max-width: $bp) {
            @content;
        }
    }
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        background-color: vars.$background-page-dark;
        width: vars.$scrollbar-width;
    }

    &::-webkit-scrollbar-track {
        background: vars.$background-page-dark;
    }

    &::-webkit-scrollbar-thumb {
        background: vars.$primary-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: vars.$primary-color-hover;
        cursor: grab;
    }
}